#background {
	width: 100%;
	background-image: url(./images/aurora.png);   /*can change it with javascript*/
	background-size: cover;
	background-color: #dddddd;
	height: 100vh;
}

#first_background {
	min-width: 800px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#info {
	padding-top: 15vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*height: 700px;*/
}

#info-one {
	font-family: 'OpenSans';
	font-size: 250%;
	color: #ffffff;
	font-weight: regular;
	margin-bottom: 15px;
}

#info-two {
	font-family: 'Bebas';
	font-size: 800%;
	margin-bottom: 50px;
}

#info-two-left {
	color: #fe9e00;
	font-weight: bold;
}

#info-two-mid {
	color: #000000;
	font-weight: bold;
}

#info-two-right {
	color: #000000;
}

#info-three {
	font-family: 'OpenSans';
	font-size: 150%;
	color: #ffffff;
	font-weight: regular;
	width: 70%;
	margin: 0px auto 30px auto;
}

.log-button {
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: 'OpenSans';
	font-size: 120%;
	color: #000000;
	/*font-weight: bold;*/
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	border-radius: 25px;
	background-color: #fabb00;
	background-image: linear-gradient(to bottom, #f9b82c, #faab00);
	width: 30%;
	height: 40px;
	margin: 15px auto 10px auto;
	padding-top: 10px;
}

.log-button-parents {
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: 'OpenSans';
	font-size: 120%;
	color: #000000;
	font-weight: regular;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	border-radius: 25px;
	background-color: #fabb00;
	background-image: linear-gradient(to bottom, #00b695, #00a969);
	width: 30%;
	height: 40px;
	margin: 15px auto 10px auto;
	padding-top: 10px;
}

/*for students index*/

#p-choice {
	width: 800px;
	margin: 30px auto 30px auto;
	font-family: 'OpenSans';
	font-size: 220%;
	font-weight: regular;
	text-align: center;
}

#subject-container {
	width: 800px;
	/*max-width: 1280px;*/
}

#inner-subject-container {
	width: 178px;
	height: 400px;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	float: left;
}

.divider {
	min-width: 138px;
	max-width: 178px;
	height: 1px;
	background-color: #bbbbbb;
}

.p-subject {
	width: 130px;
	font-family: 'OpenSans';
	font-size: 110%;
	font-weight: regular;
	text-align: left;
	padding: 8px 0px 8px 8px;
}

.inner-theme-container {
	min-width: 620px;
	max-width: 1100px;
	border: 1px solid #bbbbbb;
	padding-left: 180px;
	height: 400px;
	/*display: none;*/
}

.para {
	width: 220px;
	/*temp*/height: 50px;/*temp*/
	display: inline-block;
	margin-right: -4px;
	padding-top: 10px;
	text-align: center;
}

.para a {
	font-family: 'OpenSans';
	font-size: 110%;
	font-weight: regular;
	text-decoration: none;
}