#background {
	width: 100%;
	background-image: url(./images/aurora.png);   /*can change it with javascript*/
	background-size: cover;
	/*background-color: #dddddd;*/
	background-color: #ffffff;
	height: 100vh;
}

#first_background {
	min-width: 800px;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#info {
	padding-top: 15vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*height: 700px;*/
}

#info-one {
	font-family: 'OpenSans';
	font-size: 250%;
	color: #ffffff;
	font-weight: regular;
	margin-bottom: 15px;
}

#info-two {
	font-family: 'Bebas';
	font-size: 800%;
	margin-bottom: 50px;
}

#info-two-left {
	color: #fe9e00;
	font-weight: bold;
}

#info-two-mid {
	color: #000000;
	font-weight: bold;
}

#info-two-right {
	color: #000000;
}

#info-three {
	font-family: 'OpenSans';
	font-size: 150%;
	color: #ffffff;
	font-weight: regular;
	width: 70%;
	margin: 0px auto 30px auto;
}

.log-button {
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: 'OpenSans';
	font-size: 120%;
	color: #000000;
	/*font-weight: bold;*/
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	border-radius: 25px;
	background-color: #fabb00;
	background-image: linear-gradient(to bottom, #f9b82c, #faab00);
	width: 30%;
	height: 40px;
	margin: 15px auto 10px auto;
	padding-top: 10px;
}

.log-button-parents {
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: 'OpenSans';
	font-size: 120%;
	color: #000000;
	font-weight: regular;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	border-radius: 25px;
	background-color: #fabb00;
	background-image: linear-gradient(to bottom, #00b695, #00a969);
	width: 30%;
	height: 40px;
	margin: 15px auto 10px auto;
	padding-top: 10px;
}

/*for students index*/

#student-first-background {
	background-color: #eeeeee;
}

#p-choice {
	width: 800px;
	margin: 30px auto 30px auto;
	font-family: 'OpenSans';
	font-size: 220%;
	font-weight: regular;
	text-align: center;
}

#subject-container {
	min-width: 798px;
	max-width: 1278px;
	margin-left: auto;
	margin-right: auto;
	/*border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;*/
	padding-top: 5px;
	padding-bottom: 5px;
}

.subject-row {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	border-radius: 5px;
	height: 140px;
	margin-bottom: 5px;
}

.inner-subject-container {
	width: 170px;
	height: 140px;
	background-color: #ffffff;
	/*border: 1px solid #bbbbbb;*/
	float: left;
	border-radius: 5px 0px 0px 5px;
}

.p-subject {
	margin-top: 100px;
	width: 170px;
	font-family: 'OpenSans';
	font-size: 110%;
	font-weight: regular;
	text-align: center;
	padding: 8px 0px 8px 0px;
	color: #ffffff;
}

#algebra {
	background-image: url(./images/algebra.png);
}

#algebra-links>div {
	background-color: #1b758d;
}

#geometry {
	background-image: url(./images/geom.png);
}

#geometry-links>div {
	background-color: #944250;
}

#physics {
	background-image: url(./images/physics.png);
}

#physics-links>div {
	background-color: #654073;
}

#chems {
	background-image: url(./images/chems.png);
}

#chems-links>div {
	background-color: #cf5145;
}

#biology {
	background-image: url(./images/bio.png);
}

#biology-links>div {
	background-color: #6c9958;
}

.inner-theme-container {
	min-width: 620px;
	max-width: 1100px;
	height: 130px;
	padding: 5px 5px 5px 175px;
}

.paragraph {
	/*height: 40px;*/
	margin-bottom: 5px;
	display: inline-block;
	margin-right: 4px;
	/*padding-top: 10px;*/
	text-align: center;
	border-radius: 4px;
	background-color: #fabb00;
	padding: 10px 8px 10px 8px; 
}

.paragraph a {
	font-family: 'OpenSans';
	font-size: 90%;
	font-weight: regular;
	text-decoration: none;
}

.paragraph a:visited {

}

.paragraph:hover {
	padding: 9px 7px 8px 7px;
	border-top: 1px solid #52f7f5;
	border-left: 1px solid #52f7f5;
	border-right: 1px solid #52f7f5;
	border-bottom: 2px solid #52f7f5;
}

.new-para {
	color: #52f7f5;
}

.ended-para {
	color: #a4a4a4;
}

.start-para {
	color: #fabb00;
}